1.What are data structures, and why are they important?

A data structure is a specific way of organizing, storing, and managing data in a computer so that it can be used efficiently.
Some common data structure in Python - List, Set, Tuple, Dictionary etc.

Data structures are important because they:
- Improve performance of operations like insertion, deletion, searching, and updating.
- Help in efficient memory management.
- Enable solving complex problems effectively (e.g., using stacks, queues, trees, and graphs).

2.Explain the difference between mutable and immutable data types with examples.

Mutable data type
- It can be changed or modified after creation. Ex- list, set, dict
- We can add, remove, or update elements without creating a new object.

Immutable data type
- It can't be changed or modified after creation. Ex- int, float, str, tuple
- Any modification creates a new object in memory.

3.What are the main differences between lists and tuples in Python?

Lists
- List is an ordered collection of data that is mutable means it can be changed or modified after creation.
```
# This is formatted as code
li = [22,44,10]
```
- It can be accessed by index because it is ordered collection of data.
```
# This is formatted as code
li[0]   #it will access first element of the list
```

Tuples
- Tuple is an ordered collection of immutable data means it can be accessed by index but it can't cahnge after creation.
```
# This is formatted as code
tu = (22,44,10}
```

4.Describe how dictionaries store data.

Dictionary stores data in the key-value form.
- A dictionary in Python stores data in the form of key-value pairs, where each key is unique and is used to access its corresponding value.
- It is an unordered, mutable collection.
- Data is accessed using keys, not indexes.
- Each key maps to a specific value — like a real-world dictionary (word → meaning).
```
# This is formatted as code
dic = {"name":"Abhinav", "course":"BCA", "skills":"DS"}

dic["name"]  #access name
dic["course"]  #access course
```

5. Why might you use a set instead of a list in Python?

Set basically stores unique elements.
- Set is an unordered collection of data that can be changed after creation.
- It can't follow index based like list because it is unordered data structure.
- It stores unique data only, unlike list. In list we can store same element multiple times but set store only unique elements.
```
# This is formatted as code
li = [2,5,4,2,5,4,2]  #it is list so, it will store all elements same as

s = {2,5,4,2,5,4,2}  #it is a set so, it will store only unique elemets
print(s} #{2,4,5} it store only 3elements, because other elements are repeated

```

6.What is a string in Python, and how is it different from a list?

A string in Python is a sequence of characters enclosed within single quotes ' ', double quotes " ", or triple quotes ''' '''.
- A string is immutable, meaning it cannot be changed after creation.
- Strings are ordered sequences, so they can be accessed using indexing and slicing.
```
# This is formatted as code
str = "hii"
```
While List is Sequence of any data type (numbers, strings, etc.) and it is mutable data type.
```
# This is formatted as code
li = ["hii", "hello", 4,5,2.5]
```

7. How do tuples ensure data integrity in Python?

Tuples are ordered and immutable data structures in Python — once created, their elements cannot be modified, added, or removed.
- Immutability: Since tuples cannot be changed after creation, the data they store remains constant and safe throughout the program.
- Prevents accidental modification: Using a tuple protects data from unintentional changes, unlike lists which can be altered easily.
- Reliable for fixed data: Tuples are ideal for storing configuration values, coordinates, or database records that should not change.

8.What is a hash table, and how does it relate to dictionaries in Python?

Hashtable is a data structure in java or other programming language that stores data in the form of key-value. In python dictionay also stores data in the form of key-value.

A hash table is a data structure that stores data in key-value pairs, where each key is processed through a hash function to determine its position (index) in memory.
This allows for very fast access, insertion, and deletion operations.

Relation to Python Dictionaries:
- A Python dictionary is implemented internally using a hash table.
- When we store data in a dictionary, Python:
  - Calculates a hash value for the key.
  - Uses that hash to determine where the key-value pair is stored in memory.
  - Retrieves values in O(1) average time complexity (very fast).
```
# This is formatted as code
# Dictionary (internally uses hash table)
student = {"name": "Abhinav", "course": "BCA"}

# Accessing a value
print(student["name"])  # Output: Abhinav
```

9. Can lists contain different data types in Python?
- Yes, lists contain different data types in Pthon.

```
# This is formatted as code
li = ["hii", "hello", 4,5,2.5]   #here li has string, int and float data type
```

10. Explain why strings are immutable in Python.

A string in Python is an immutable sequence of characters, meaning once it’s created, it cannot be changed.

Reasons Why Strings Are Immutable:
- Memory Efficiency (String Interning): Python often reuses string objects with the same value to save memory.
If strings were mutable, changing one string could unintentionally affect others sharing the same memory reference.
- Hashing and Dictionary Keys: Strings are frequently used as keys in dictionaries.
For keys to remain reliable, they must be hashable, and immutability ensures their hash value never changes.
- Security and Data Integrity: Since strings are often used to store sensitive data (like file paths, URLs, etc.), immutability prevents accidental or malicious modifications.
- Thread Safety: Immutable objects can be shared across multiple threads without synchronization issues, ensuring safer parallel execution.

11.What advantages do dictionaries offer over lists for certain tasks?

A dictionary is a collection of key-value pairs, while a list is an ordered collection of elements accessed by index.

Advantages of Dictionaries over Lists:
- Fast Lookup by Key:
  - Accessing a value in a dictionary using a key is O(1) on average (thanks to hash tables).
  - While In a list, searching for a value requires O(n) time (linear search).

- Meaningful Keys:
  - Dictionaries allow us to use descriptive keys instead of numeric indexes.
  - This makes code more readable and maintainable.

- Automatic Handling of Unique Keys:
  - Dictionary keys are unique by default, which is useful for tasks like counting or mapping.

- Flexible Data Association:
  - A dictionary can store complex data using nested structures, mapping keys to lists, sets, or other dictionaries.

- Efficient for Dynamic Updates:
  - Adding or removing key-value pairs is faster and cleaner than updating a large list with index calculations.

```
# This is formatted as code
# List lookup (slower)
students = ["Alice", "Bob", "Charlie"]
print("Bob" in students)  # O(n)

# Dictionary lookup (faster)
student_dict = {"Alice": 85, "Bob": 92, "Charlie": 78}
print(student_dict["Bob"])  # O(1)

```

12. Describe a scenario where using a tuple would be preferable over a list.

- Tuple: Ordered, immutable collection.
- List: Ordered, mutable collection.

We have data that should not change during the program execution, and we want to ensure data integrity.
- Use a tuple when we need fixed, constant, or hashable data that must remain unchanged.

13. How do sets handle duplicate values in Python?
- Sets remove duplicate elements in Python.
- Sets automatically eliminate duplicates, ensuring only unique values are stored.

14. How does the “in” keyword work differently for lists and dictionaries?

Lists:
- in checks if a value exists anywhere in the list.
- It performs a linear search, which takes O(n) time in the worst case.
```
# This is formatted as code
# List example
li = [10, 20, 30]
print(20 in li)   # True
print(40 in li)   # False
```
Dictionaries:
- in checks if a key exists in the dictionary, not the value.
- Since dictionaries use hash tables, key lookup is O(1) on average (very fast).
```
# This is formatted as code
# Dictionary example
dic = {"name": "Abhinav", "age": 21}
print("name" in dic)   # True
print("Abhinav" in dic) # False (checks key, not value)
```
In lists, in searches values sequentially, while in dictionaries, in checks keys using efficient hashing.

15.Can you modify the elements of a tuple? Explain why or why not.
- No, we cannot modify the elements of a tuple directly in Python.

Reason:
- Tuples are immutable, meaning once a tuple is created, its size and content cannot be changed.
- This immutability ensures data integrity, safe usage as dictionary keys, and faster performance compared to lists.
```
# This is formatted as code
# Tuple example
t = (1, 2, 3)

# Trying to modify an element
# t[0] = 10   # TypeError: 'tuple' object does not support item assignment

# You can create a new tuple instead
t = (10,) + t[1:]
print(t)  # Output: (10, 2, 3)

```

Tuples cannot be modified to ensure immutability, data safety, and consistent behavior.

16. What is a nested dictionary, and give an example of its use case?

A nested dictionary is a dictionary that contains another dictionary (or dictionaries) as its value.
This allows us to represent complex, hierarchical data in a structured way.

```
# This is formatted as code
nested_dict = {
    "student1": {"name": "Abhinav", "age": 21, "course": "BCA"},
    "student2": {"name": "Aman", "age": 22, "course": "BSc"}
}

print(nested_dict["student1"]["name"])  # Output: Abhinav
print(nested_dict["student2"]["course"]) # Output: BSc

```

17.Describe the time complexity of accessing elements in a dictionary?
- The time complexity of accessing elements in a dictionary is O(1).

18.  In what situations are lists preferred over dictionaries?
- Use lists when we need ordered, index-accessible, or simple collections.
- Use dictionaries when we need fast lookup by key, meaningful mappings, or hierarchical data.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are unordered because they use hash tables for fast key-based access.
This means we cannot rely on element positions, and data retrieval is always done using keys.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

List:
- In list we can retrieve data by index because it is ordered collection of data.
```
# This is formatted as code
li = ["abhinav", 20]

li[0]   # "abhinav"
```

Dictionary:
- In dictionary we can retrieve data by key because it stores data in the form of key-value pair. It does not follow order of data.
```
# This is formatted as code
dic = {"name":"abhinav", "age":20}

dic["name"]  # "abhinav
```

In [1]:
#1. Write a code to create a string with your name and print it
name = "Abhinav Prakash"
print(name)

Abhinav Prakash

In [2]:
#2. Write a code to find the length of the string "Hello World"
s = "Hello World"
print(len(s))

11

In [7]:
#3. Write a code to slice the first 3 characters from the string "Python Programming"
lan = "Python Programming"
sliced = slice(0,3,1)
print(lan[sliced])

Pyt

In [9]:
#4. Write a code to convert the string "hello" to uppercase
s = "hello"
print(s)
print(s.upper())

hello
HELLO

In [16]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s)
li = s.split()
li[2] = "orange"
s = " ".join(li)
print(s)

I like apple
I like orange

In [22]:
#6. Write a code to create a list with numbers 1 to 5 and print it
li = list(range(1,6))
print(li)

[1, 2, 3, 4, 5]

In [23]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
li = list(range(1,5))
print(li)
li.append(10)
print(li)

[1, 2, 3, 4]
[1, 2, 3, 4, 10]

In [24]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
li = list(range(1,6))
print(li)
li.remove(3)
print(li)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [25]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
li = ['a', 'b', 'c', 'd']
print(li[1])

b

In [29]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
li = list(range(1,6))
print(li)
li.reverse()
print(li)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [30]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [32]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [34]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
tup = (10, 20, 5, 15)
print(min(tup))

5

In [35]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [40]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
fruits = ("apple", "mango", "strawberry", "banana")
print('kiwi' in fruits)

fruits = ("apple", "mango",'kiwi', "strawberry", "banana")
print('kiwi' in fruits)

False
True

In [41]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it
s = {'a','b','c'}
print(s)

{'a', 'b', 'c'}

In [42]:
#17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}
num = {1, 2, 3, 4, 5}
print(num)
num.clear()
print(num)

{1, 2, 3, 4, 5}
set()

In [43]:
#18.Write a code to remove the element 4 from the set {1, 2, 3, 4}
num = {1, 2, 3, 4}
print(num)
num.remove(4)
print(num)

{1, 2, 3, 4}
{1, 2, 3}

In [47]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
num1 = {1,2,3}
num2 = {3,4,5}

un = num1 | num2
print(un)

print(num1.union(num2))

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [48]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
num1 = {1,2,3}
num2 = {2,3,4}

intersec = num1 & num2
print(intersec)

print(num1.intersection(num2))

{2, 3}
{2, 3}

In [50]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
abhinav = {"name":"Abhinav", "age": 20, "city":"Patna"}
print(abhinav)

{'name': 'Abhinav', 'age': 20, 'city': 'Patna'}

In [51]:
#22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic = {"name":"John", "age":25}
print(dic)
dic["country"] = "USA"
print(dic)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [52]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
dic = {"name":"Alice", "age":30}
print(dic["name"])

Alice

In [57]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print(dic)
dic.pop("age")
print(dic)

{'name': 'Bob', 'age': 22, 'city': 'New York'}
{'name': 'Bob', 'city': 'New York'}

In [58]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic = {'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

In [59]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.
li = ["abhinav", 20 , "BCA"]
tu = ("abhinva", 20, "BCA")
dic = {"name" : "abhinav", "age":20, "course":"BCA"}
print("List : ", li)
print("Tuple : ", tu)
print("Dictionary : ", dic)

List :  ['abhinav', 20, 'BCA']
Tuple :  ('abhinva', 20, 'BCA')
Dictionary :  {'name': 'abhinav', 'age': 20, 'course': 'BCA'}

In [63]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
num_li = [10,25,38,55,90,95]
print(num_li)
num_li.sort(  reverse=True)
print(num_li)

[10, 25, 38, 55, 90, 95]
[95, 90, 55, 38, 25, 10]

In [71]:
#28. Write a code to create a list with strings and print the element at the third index.
str_li = ["PW", "DS", "Python", "Java","C", "C++", "Ruby", "Js"]
print(str_li[3:])

['Java', 'C', 'C++', 'Ruby', 'Js']

In [77]:
#29. Write a code to combine two dictionaries into one and print the result
dic1 = {"name":"Alice", "age":30}
dic2 = {'city': 'New York'}

dic1.update(dic2)
print(dic1)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [79]:
#30.Write a code to convert a list of strings into a set.
str_li = ["PW", "DS", "Python", "Java","C", "C++", "Ruby", "Js", "C", "C++"]
str_set = set(str_li)

print(str_set)

{'Ruby', 'Js', 'Python', 'C++', 'DS', 'PW', 'Java', 'C'}